body {
    margin:0;
    display:flex;
    flex-direction: column;
    
    font-family:"Roboto";
}

.header {
    padding: 0 64px;
    display:flex;
    background-color: #1F2937;
    justify-content:space-between;
    align-items: center;
}

.header h2 {
    font-size: 24px;
    color:#F9FAF8;
}

.header-links {
    display:flex;
    padding-inline-start: 0;
    gap: 8px;
    list-style-type: none;
    font-size: 18px;
    
}

.header-links a {
    text-decoration: none;
    color:#E5E7EB;
}

.intro {
    background-color: #1F2937;
    padding: 64px;
    display:flex;
    font-size: 18px;
    color:#E5E7EB;
}

.intro h1{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
    margin:0;
}

.intro p {
    margin:0;
    padding:8px 0;
}

.intro button {
    border-style: none;
}
.intro img {
    height:auto;
    flex-grow:1;
}

.random-info h2 {
    text-align: center;
    font-size: 36px;
    color:#1F2937;
    font-weight:900;
}

.random-info-links {
    display:flex;
    justify-content:center;
    text-align: center;
    list-style-type: none;
    gap:12px;
    padding-inline-start: 0px;
    padding:0 64px;
}

.random-info-box {
    display:flex;
    flex-direction: column;
    align-items:center;
}

.random-info-box img {
    min-height: 50px;
    /* min-width: 50px; */ 
    border-radius: 5px;
    border-style: inset;
    border-color: #3882F6;
    display: block;
}

.quote {
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:64px;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin:0;
}

#quote-author {
    align-self: flex-end;
    font-weight:bold;
    font-size:24px;
    margin:0;
}

.subscribe {
    padding: 32px 64px;
}

.subscribe-box {
    border-radius: 10px;
    background-color: #3882F6;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:32px;
}

.subscribe-text {
    display:flex;
    flex-direction: column;
    color:#E5E7EB;
}

.subscribe-text h3 {
    margin:0;
}

.subscribe-text p {
    margin:0;
}

.subscribe button {
    flex-grow:0;
    border-color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
    text-align:center;
    font-size: 18px;
    color:#E5E7EB;
}

button {
    background-color: #3882F6;
    border-radius: 10px;
    color:#F9FAF8;
    flex-shrink:0;
    padding:8px 16px;
}